@import 'variables.css';
@import 'fonts.css';

:root {
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--site-background);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-family: var(--font-text);
  color: var(--text-color);
}

#app {
  height: 100%;
}

button {
  background-color: white;
  text-align: center;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 0.9rem;
  border: 0.5px solid #141a20;
  border-radius: 0.3rem;
  padding: 0.7rem 3rem;
  text-align: center;
  box-shadow: var(--shadow-button);
  cursor: pointer;
}

.block {
  background-color: var(--block-background);
  box-shadow: var(--shadow-block);
  padding: 4rem 3.5rem;
  border-radius: 7px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.btn-add {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  border: none;
  font-weight: 800;
  padding: 0;
  padding-top: 0.1rem;
}

input:focus {
  outline: none;
  font-weight: 800;
}

.form-input {
  border: 0.5px solid var(--border-color);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  margin-bottom: 1.2em;
  width: 100%;
}

label {
  font-size: 0.7rem;
  font-family: var(--font-text);
  color: var(--secondary-text-color);
  font-weight: 700;
}

.icon {
  background-color: var(--icon-background-color);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

option {
  font-family: var(--font-title);
}

.title-project {
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--border-color);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.2em;
  width: 50%;
}

input.title {
  font-size: 1.2rem;
}

select {
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
  width: 100%;
  background: url('/Users/emeline/Developpement/proteller/proteller-front/src/img/caret-down-fill.svg')
    no-repeat right 1rem center / 0.7rem;
}

select::-ms-expand {
  display: none;
}

.status-draft,
.state-draft {
  display: flex;
  flex-direction: column;
  width: 80%;
}
